body{
  height:10vh;
  background-color:#8B4513;
}


.mainfooter {
   width: 100%;
   background-color:#8B4513;
   overflow: hidden;
 }
 
 .mainfooter a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 

 .mainfooter a:hover{
   background-color: beige;
   color:#8B4513;
 }