<body>
    <div class=container>
        <h2>Thanks for Choosing Us.</h2>   
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div style="background:white; color:f1935c; width:60%; height:350px; margin-left:10%">
          <h2 style=" font-family: Brandon Grotesque Bold; " >We will get back to you as soon as possible.</h2>
           <a routerLink="/home" >
        <button class="button" style="width:200px; height:70px ;background-color:#8B4513;  color:white;">
            Go to home</button>
       </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    
    </body>