<body>
    <div class=container>
        <h2>Smooth out your day, every day.</h2>   
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div style="vertical-align: middle; align-self: flex-start; width:40%; height:520px ;">
            <img  src="../../assets/images/home/cocho.gif" width=100% height="520px"> 
        </div>
        <div style="align-content: center; background-color: #8B4513; color:white; width:60%; height:520px ;">
            <h3>Co - Coffee<br>Cho - Chocolate</h3>
            <p style="font-size: large;">
            CoCho believes that everyone deserves great <br>
            Cocoa Products and we exist to make our products<br>
            accessible and interesting for everyone.<br>
            Customers choose us because they love and trust<br>
            CoCho as deliver a quality products every time,everywhere.<br>
           </p>
           <br>
           <a routerLink="/contactus" >
            <button class="button" style="width:200px; height:70px ;background-color: white; color:#8B4513">Know now</button>
           </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div style="align-content: center; background-color: beige;  width:60%">
            <h3>Your Late night coffee cravings ,<br>fullied by CoCho </h3>
            <p style="font-size: large;">
                We've teamed up with zomato to<br>
                deliver you our freshest coffee <br>
                and food. Simply visit the Zomato <br>
                website or download the app and<br>
                 place your order today.
           </p>
           <br>
           <a href="https://www.zomato.com/">
          <button class="button" style="width:200px; height:70px ;">Order now</button>
          </a>
        </div>
        <div style="vertical-align: middle; align-content: flex-end;  width:40% ">
            <img  src="../../assets/images/home/gif1.gif" width="100%" height="500px" > 
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div style="vertical-align: middle; align-self: flex-start; width:40%; height:520px ;">
            <img  src="../../assets/images/home/cho.gif" width=100% height="520px"> 
        </div>
        <div style="align-content: center; background-color: #8B4513; color:white; width:60%; height:520px ;">
            <h3>Co - Coffee<br>Cho - Chocolate</h3>
            <p style="font-size: large;">
                We've teamed up with zomato to<br>
                deliver you our freshest coffee <br>
                and food. Simply visit the Zomato <br>
                website or download the app and<br>
                 place your order today.
           </p>
           <br>
           <a routerLink="/chocolate" >
            <button class="button" style="width:200px; height:70px ;background-color: white; color:#8B4513">Know now</button>
           </a>
        </div>
    </div>
    <br>
    <br>
    <body>
    
