<body>
    <br>
    <br>
    <br>
    <br>
<div class="flex-container">
    <div style="align-content: center; background-color: #8B4513; color:white; width:60%; height:520px ;">
        <h3> Job Oppertunities </h3>
        <p style="font-size: large;">
            We open our doors to help provide<br>
            the youth of the country with job <br>
            oppertunities. With the expamsion of <br>
            the cafe we need more and more people<br>
            to come join us and help our community<br>
            grow.
       </p>
       <br>
       <a routerLink="/response">
        <button class="button" style="width:200px; height:70px ;background-color: white; color:#8B4513">Scroll Down to Apply</button>
       </a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="flex-container" id="form">
    <div style="vertical-align: middle; align-self: flex-start; width:40%; height:520px ; margin:0px">
        <img  src="../../assets/images/wallpaper/job.jpg" width=100% height="520px"> 
    </div>
    <div style="align-content: center; background-color: #8B4513; color:white; width:60%; height:520px ; margin:0px">
        <h3>Let's know you better</h3>
        <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
              <label class="required" for="name">Name:   </label>
              <input id="name" class="input" name="name" type="text" value="" size="30" />
              <span id="name_validation" class="error_message"></span>
              <label class="required" for="email">  Phone No.:    </label>
              <input id="Conatct No." class="input" name="phone" type="text" value="" size="30" /><br />
              <span id="contact_validation" class="error_message"></span>
            </div>
            <div class="row">
                <label class="required" for="email">Email-ID:</label>
                <input id="email" class="input" name="email" type="text" value="" size="30" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="email_validation" class="error_message"></span>
                <label class="required" for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job Options:    </label>
                <select id="applyfor" class="input" name="applyfor" >
                    <option value="w">Waiter</option>
                    <option value="C">Cashier</option>
                    <option value="HM">Handy-Man</option>
                </select>
                <span id="job_validation" class="error_message"></span>
            </div>
            <div class="row">
                <label class="required" for="message">Tell us about you: </label><br />
                <textarea id="message" class="input" name="message" rows="7" cols="60"></textarea><br />
                <span id="message_validation" class="error_message"></span>
            </div>
              <input  class="button" id="submit_button" type="submit" value="Apply" style="width:200px; height:70px ;background-color: white; color:#8B4513"/>
          </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<body>