<body>
  <div class="navbar">  
    <div class="logo" > 
      <a routerLink="/home"> 
       <img class="float_left" src="../../assets/images/nav-bar/logo.png" width="175" height="175"> 
     </a>
    </div>
    <nav>
     <li>
       <a routerLink="/about" >About Us
         <span class="link-space">
              <span class="fare">About Us</span>
              <span class="back">About Us</span>
         </span>
       </a>
     </li>
     <li>
      <a routerLink="/chocolate" >Chocolate
        <span class="link-space">
             <span class="fare">Chocolate</span>
             <span class="back">Chocolate</span>
        </span>
      </a>
    </li>
    <li>
      <a routerLink="/coffee" >Coffee
        <span class="link-space">
             <span class="fare">Coffee</span>
             <span class="back">Coffee</span>
        </span>
      </a>
    </li>
    <li>
      <a routerLink="/ngo" >Smile
        <span class="link-space">
             <span class="fare">Smile</span>
             <span class="back">Smile</span>
        </span>
      </a>
    </li>
    <li >
      <a routerLink="/contactus" >Contact Us
        <span class="link-space">
             <span class="fare">Contact Us</span>
             <span class="back">Contact Us</span>
        </span>
      </a>
    </li>
    <li style="padding-left: 10em;">
      <a routerLink="/online"> 
        <img class="user" src="../../assets/images/nav-bar/cart.png" width="60" height="60">
      </a>      
    </li>
    <li style="padding-left: 2em;">
      <a routerLink="/login" > 
        <img class="user" src="../../assets/images/nav-bar/user.png" width="60" height="60">
      </a>
    </li>
   </nav>
  </div>
</body>