<body>
    <div class=container>
        <h2>"No one has ever become poor by giving.<br>– Anne Frank</h2>
    </div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="background:white; vertical-align: middle; align-self: flex-start; width:40%; height:520px ;">
        <img src="../assets/images/ngo/3.jpg" width=80% height="420px" 
        style="padding:1.25cm 0cm 1.25cm 0cm;"> 
    </div>
    <div style="background:white; align-content: center; color:f1935c; width:40%; height:520px ;">
        <h3>Co Cho Community</h3>
        <pre style="font-size: large; font-family: Brandon Grotesque Bold">
      Our teams offer warm, inviting spaces for people to 
      come together, and invest time in building lasting 
      connections with the communities they serve.

      We support our team members in making a meaningful 
      contribution locally because our Community Programme 
      is a hugely important part of the way we do business.

      Our nationwide activities focus on social themes 
      that our customers tell us they care about, and we 
      also encourage our teams to plan their own activities 
      to meet the needs of their specific communities.
            
       </pre>
       <br>
       <br>
       
    
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="background:white; align-content:center; color:f1935c;  width:40%; height:520px; padding-right:3px" >
        <h3>You can change a Child's Life Story</h3>
        <pre style="font-size: large; font-family: Brandon Grotesque Bold; color:f1935c; padding-right:30px">
        We know that education has the power to change a child’s 
        life story, which is why the Co Cho Foundation has a big 
        vision: to eradicate poverty in communities where
        children often have limited or no access to education.

        The Co Cho Foundation was started to support the people 
        living in remote communities by building schools to give 
        children a safe, quality education.

        Be one among many who are trying to bring a change in 
        these chilren's lives by donating a small share to our 
        foundation!


       </pre>
    </div>
    <div style="background:white; align-content: center; width:40%; height:520px;">
        <img  style="padding:3cm 1cm 3cm 1cm; width:270px; height:300px;" src="../assets/img/child.jpg" width="100%" height="500px" > 
    </div>
</div>
<br>
<br>
<br>
<br>

</body>
