body{
   height:7.3vh;
   background-color:#A0522D;
}

.item{
  width:25%;
  vertical-align: middle;
}

.subfooter {
    width: 100%;
    height:100%;
    background-color:#A0522D;
    overflow: hidden;
  }
  
  .subfooter a {
    float: left;
    font-size: 2em;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  

  .subfooter a:hover{
    background-color: beige;
    color:#A0522D;
  }
  
