<body style="background-image:url('../../assets/img/bg2.jpg');">
  <br><br><br>
  <br><br><br>

<div class="grid-container">
  <div class="grid-item">
    <mat-card style="background-color: #9c4706;" class="example-card" class="mat-shadow">
      
      <mat-card-title style="font-family: fantasy;" style="color: white;"><b>Cappuccino</b> </mat-card-title>
      <br>
      <!-- <mat-card-subtitle >Profit Roll</mat-card-subtitle> -->
 
    <img mat-card-image class="a" src="assets/img/coffee1.PNG" alt="choco">
    <mat-card-content style="color: white;">
      
       <h4>Price: Rs.250</h4> 
  
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog1()" mat-raised-button><b>View</b></button>
    </mat-card-actions>
  </mat-card>
</div>


  <div class="grid-item"></div>
  <div class="grid-item">
    <mat-card style="background-color: #361700;" class="example-card" class="mat-shadow">
      
      <mat-card-title style="font-family:'fantasy;" style="color: white;"><b>Cold Coffee </b> </mat-card-title>
      <br>
      <!-- <mat-card-subtitle >Profit Roll</mat-card-subtitle> -->
 
    <img mat-card-image class="a" src="assets/img/coffee2.PNG" alt="choco">
    <mat-card-content style="color: white;">
      
       <h4>Price: Rs.150</h4> 
  
    </mat-card-content>
    <mat-card-actions>
     
      <button mat-button (click)="openDialog2()" mat-raised-button><b>View</b></button>
    </mat-card-actions>
  </mat-card>
</div>  


  <div class="grid-item"></div>
  <div class="grid-item">
    <mat-card style="background-color: #b96d36;" class="example-card" class="mat-shadow">
      
      <mat-card-title style="font-family:'fantasy;" style="color: white;"><b>Expresso</b></mat-card-title>
      <br>
      <!-- <mat-card-subtitle >Profit Roll</mat-card-subtitle> -->
 
    <img mat-card-image class="a" src="assets/img/coffee3.PNG" alt="choco">
 <mat-card-content style="color: white;">
      
       <h4>Price: Rs.180</h4> 
  
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog3()" mat-raised-button><b>View</b></button>
  
    </mat-card-actions>
  </mat-card>
</div>

<br><br><br>
<br><br><br>


  <div class="grid-item"></div>    
</div>

<div class="grid-container">
<div class="grid-item"></div>
  <div class="grid-item">
    <mat-card   style="background-color: #74492b;" class="example-card" class="mat-shadow">
      
      <mat-card-title style="font-family:'fantasy;" style="color: white;"><b>Americano</b></mat-card-title>
      <br>
      <!-- <mat-card-subtitle >Profit Roll</mat-card-subtitle> -->
 
    <img mat-card-image class="a" src="assets/img/coffee4.PNG" alt="choco">
    <mat-card-content style="color: white;">
      
       <h4>Price: Rs.200</h4> 
  
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog4()" mat-raised-button><b>View</b></button>
  
    </mat-card-actions>
  </mat-card>
</div>


  <div class="grid-item"></div>
  <div class="grid-item">
    <mat-card style="background-color: #74492b;" class="example-card" class="mat-shadow">
      
        <mat-card-title style="font-family:'fantasy;" style="color: white;"><b>Mocha</b></mat-card-title>
        <br>
        <!-- <mat-card-subtitle >Profit Roll</mat-card-subtitle> -->
   
      <img mat-card-image class="a" src="assets/img/coffee5.jpg" alt="choco">
      <mat-card-content style="color: white;">
      
       <h4>Price: Rs.230</h4> 
  
    </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openDialog5()" mat-raised-button><b>View</b></button>
    
      </mat-card-actions>
    </mat-card>
</div>  


  <div class="grid-item"></div>
  <br><br><br>
  <br><br><br>
</div>


</body>
