.a{
    height: 280px;
    width: 60%; 
     justify-content: center;
    align-items: center; 
    border-radius: 25px;
}
.bcolor{
   color: white; 
   background-color: black;
}
div.container {
  height: 5em;
  background-image: linear-gradient(to bottom right, rgb(180, 121, 44),#8B4513);
  position: relative 
}
div.container h2 {
  margin: 0;
  position: absolute;
  color:beige;
  font-style: italic;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
 }

/* .b{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 20%;
    justify-content: center;
    align-items: center; 
    background:white;
    color:#b67d47;
} */

/* .c{

    height: 200px;
    width: 20%; */
    /* justify-content: center;
    align-items: center;  */
    /* background:white;
    color:#b67d47;
} */ 

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 1cm;
    padding-right: 1cm;
    background-color:white;
    background-image: url('../../assets/img/bg2.jpg');
    
    
  }
  .grid-item {
    /* height: 300px; */
    background-color:#74492b;
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
    background-image: url('../../assets/img/bg2.jpg');
  
  
  }
  .example-card {
    max-width: 400px;
  }
   
 .mat-shadow{
  border-radius: 25px;
  background: #74492b;
  box-shadow: 5px 10px black;
  
  }
  
  body{
    background-image: url('../../assets/img/bg2.jpg');
  }
 
