<body>
    <div class=container>
        <h2>Happy to Help</h2>   
    </div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="align-content: center; background-color:beige;  color:#8B4513; width:100%; height:200px ;">
        <h3>CoCho believes that everyone customers needs to be heard. We are here to answer any of your concerns, complaints 
            and suggestions that would help us become our best.
        </h3>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="flex-container" id="form">
    <div style="vertical-align: middle; align-self: flex-start; width:40%; height:520px ; margin:0px">
        <img  src="../../assets/images/wallpaper/job.jpg" width=100% height="520px"> 
    </div>
    <div style="align-content: center; background-color: #8B4513; color:white; width:60%; height:520px ; margin:0px">
        <h3>Contact US :</h3>
        <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
              <label class="required" for="name">Name:  </label>
              <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
              <label class="required" for="email">Phone No.:  </label>
              <input id="Conatct No." class="input" name="phone" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
                <label class="required" for="email">Email-ID:  </label>
                <input id="email" class="input" name="email" type="text" value="" size="30" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="row">
                <label class="required" for="message">Your Concern: </label><br />
                <textarea id="message" class="input" name="message" rows="7" cols="60"></textarea><br />
            </div>
            <a routerLink="/response">
              <input  class="button" id="submit_button" type="submit" value="Let's get back to you" style="width:200px; height:70px ;background-color: white; color:#8B4513"/>
            </a>
            </form>
    </div>
</div>
<br>
<br>
<br>
<br>
</body>
