body{
    background-image: url("../../assets/images/wallpaper/11.jpg");
}

.flex-container {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    z-index:1;
  }
  
  .flex-container > div {
    width: 50%;
    margin-left:25%;
    margin-right:25%;
    font-family: "Brandon Grotesque Bold";
    text-align: center;
    font-size: 30px;

  }

  .button {
    background-color: #f4511e;
    border-radius: 5%;
    border: none;
    color: white;
    text-align: center;
    font-size: 0.6em;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

  }
  
  .button:hover {opacity: 1}
