<body>
    <div class=container>
        <h2>Smooth out your day, every day.</h2>   
    </div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="align-content: center; background-color:beige;  color:#8B4513; width:100%; height:230px ;">
        <h3>CoCho believes that everyone deserves great 
            Cocoa Products and we exist to make our products
            accessible and interesting for everyone.
            Customers choose us because they love our products
            We pledge to deliver quality products every time,everywhere.</h3>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="vertical-align: middle; align-self: flex-start; width:45%; height:520px ;">
        <img  src="../../assets/images/home/gif.gif" width=100% height="520px"> 
    </div>
    <div style="align-content: center; background-color: #8B4513; color:white; width:55%; height:520px ;">
        <h3>We're COVID Ready</h3>
        <p style="font-size: large;">
            we are committed to supporting our customers,<br>
            communities and people. As we slowly re-open <br>
            our stores we’ve made changes to how we serve<br>
            our coffee, introducing social distancing and<br>
            enhancing our hygiene procedures to keep our<br>
            store teams and customers safe.
       </p>
       <br>
       <a routerLink="/contactus" >
        <button class="button" style="width:200px; height:70px ;background-color: white; color:#8B4513">
            Know more</button>
       </a>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="align-content: center; background-color:beige; color:#8B4513; width:50%">
        <h3>Put an end to your cravings ,<br>without any contact</h3>
        <p style="font-size: large;">
            Amidst the current lockdown situation in India,ensuring delivery of safe,<br>
            hygienic food to our customers is paramount for us. To ensure this, <br>
            we have launched contactless delivery. Customers can opt to allow the <br>
            delivery partner to leave the package outside their home, ensuring no <br>
            human-to-human interaction and hence lowering risk of any transmission.
       </p>
       <br>
      <a routerLink="/online" >
      <button class="button" style="width:200px; height:70px ;background-color:#8B4513">Order now</button>
      </a>
    </div>
    <div style="vertical-align: middle; align-content: flex-end;  width:50% ">
        <img  src="../../assets/images/home/covid.gif" width="100%" height="500px" > 
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="vertical-align: middle; align-self: flex-start; width:40%; height:520px ;">
        <img  src="../../assets/images/home/location.gif" width=100% height="520px"> 
    </div>
    <div style="align-content: center; background-color: #8B4513; color:white; width:60%; height:520px ;">
        <h3>Find your CoCho </h3>
        <br>
        <p style="font-size: large;">
            Find the stores which have re-opened <br>
            for Takeaway, Drive-Thru and Mobile <br>
            Order. We take Special care of our <br>
            employees and customers safety amid <br>
            Covid-19 situation.  
       </p>
       <br>
       <br>
       <a href="https://www.google.com/maps/place/Xoxo+Cafe/@30.9082031,77.0921943,17z/data=!3m1!4b1!4m5!3m4!1s0x390f86b6499bb019:0x7fc74ee36630e15d!8m2!3d30.9082031!4d77.094383" >
        <button class="button" style="width:200px; height:70px ;background-color: white; color:#8B4513">Locate Us</button>
       </a>
    </div>
</div>
<br>
<br>
<br>
<br>
<body>
