<body>
    <div class=container>
        <h2>Smooth out your day, every day.</h2>   
    </div>
<br>
<br>
<br>
<br>
<div class="flex-container">
    <div style="align-content: center; background-color:beige;  color:#8B4513; width:100%; height:230px ;">
        <h3>CoCho believes that everyone deserves great 
            Cocoa Products and we exist to make our products
            accessible and interesting for everyone.
            Customers choose us because they love and trust
            CoCho as deliver a quality products every time,everywhere.</h3>
    </div>
</div>
<br>
<br>
<br>
<div class="flex-container">
    <div style="vertical-align: middle; align-self: flex-start; width:45%; height:520px ;">
        <img  src="../../assets/images/home/gif.gif" width=100% height="520px"> 
    </div>
    <div style="align-content: center; background-color: #8B4513; color:white; width:55%; height:520px ;">
        <h3>We're COVID Ready</h3>
        <p style="font-size: large;">
            we are committed to supporting our customers,<br>
            communities and people. As we slowly re-open <br>
            our stores we’ve made changes to how we serve<br>
            our coffee, introducing social distancing and<br>
            enhancing our hygiene procedures to keep our<br>
            store teams and customers safe.
       </p>
       <br>
       <a routerLink="/contactus" >
        <button class="button" style="width:200px; height:70px ;background-color: white; color:#8B4513">
            Know more</button>
       </a>
    </div>
</div>
<br>
<br>
<br>
<div class="flex-container">
    <div style="align-content: center; background-color:beige; color:#8B4513; width:50%">
        <h3>Put an end to your cravings ,<br>without any contact</h3>
        <p style="font-size: large;">
            Amidst the current lockdown situation in India,ensuring delivery of safe,<br>
            hygienic food to our customers is paramount for us. To ensure this, <br>
            we have launched contactless delivery. Customers can opt to allow the <br>
            delivery partner to leave the package outside their home, ensuring no <br>
            human-to-human interaction and hence lowering risk of any transmission.
       </p>
       <br>
       <a href="https://www.zomato.com/">
      <button class="button" style="width:200px; height:70px ;background-color:#8B4513">Order now</button>
      </a>
    </div>
    <div style="vertical-align: middle; align-content: flex-end;  width:50% ">
        <img  src="../../assets/images/home/covid.gif" width="100%" height="500px" > 
    </div>
</div>
<br>
<br>
<div class="flex-container">
    <div style="vertical-align: middle; align-self: flex-start; width:40%; height:520px ;">
        <img  src="../../assets/images/home/cho.gif" width=100% height="520px"> 
    </div>
    <div style="align-content: center; background-color: #8B4513; color:white; width:60%; height:520px ;">
        <h3>Co - Coffee<br>Cho - Chocolate</h3>
        <p style="font-size: large;">
            We've teamed up with zomato to<br>
            deliver you our freshest coffee <br>
            and food. Simply visit the Zomato <br>
            website or download the app and<br>
             place your order today.
       </p>
       <br>
       <a routerLink="/chocolate" >
        <button class="button" style="width:200px; height:70px ;background-color: white; color:#8B4513">Know now</button>
       </a>
    </div>
</div>
<br>
<br>
<body>
